<%- include('header'); -%>
    <h2>Hi I am Deepesh Jha</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit doloremque cumque maxime fuga vitae perferendis neque illum hic cupiditate, qui aspernatur blanditiis cum corporis, a quas, nisi deleniti aliquid sequi.</p>
<%- include('footer'); -%>